#homepage-1 {
    padding: 70px 0;
    background-color: #eeeeee;

    .ps-home-banner {
        padding-top: 30px;
        margin-bottom: 30px;
        .ps-collection {
            display: block;
            margin-bottom: 30px;

            &:last-child {
                margin-bottom: 0;
            }
        }
        .slick-slider {
            height: 100%;
            .slick-list {
                height: 100%;
                > .slick-track {
                    height: 100%;
                    * {
                        height: 100%;
                    }
                }
            }

            .ps-banner-item--default {
                display: block;
                height: 40vh;
            }
        }

        .ps-container {
            display: flex;
            height: 100%;
            > * {
                flex: 1;
                flex-basis: 100%;
            }

            .ps-section__left {
                padding-right: 30px;
                max-width: calc(100% - 390px);
            }

            .ps-section__right {
                max-width: 390px;
            }

            @include media('<lg') {
                display: block;
                .ps-section__left {
                    max-width: 100%;
                    margin-bottom: 10px;
                    padding-right: 0;
                }

                .ps-section__right {
                    display: flex;
                    flex-flow: row nowrap;
                    margin: 0;
                    max-width: 100%;
                    .ps-collection {
                        width: 100%;
                        max-width: 50%;
                        padding: 0 5px;

                        img {
                            width: 100%;
                        }
                        &:first-child {
                            padding-left: 0;
                        }
                        &:last-child {
                            padding-right: 0;
                        }
                    }
                }
            }
        }

        @media screen and (max-width: 1200px) {
            .ps-section__left {
                height: 300px;
            }
        }

        @include media("<xs") {
            .ps-section__left {
                height: 150px;
            }
        }
    }

    .ps-deal-of-day {
        margin-bottom: 30px;

        .ps-product {
            .ps-product__price {
                color: #690;
                font-size: 18px;

                del {
                    margin-left: 10px;
                    font-size: 14px;
                }

                small {
                    margin-left: 10px;
                    color: red;
                }
            }
        }

        .ps-section__header,
        .ps-section__content {
            background-color: #fff;
        }

        .ps-section__header {
            margin-bottom: 0;
            padding: 20px 20px 10px;
        }

        .ps-section__content {
            padding: 60px 30px 30px;
        }
    }

    .ps-home-promotions {
        margin: 0 0 30px;
    }

    .ps-block--product-box {
        margin-bottom: 30px;
    }

    .ps-carousel {
        .slick-list {
            padding-right: 3px !important;
        }
    }
}



.image-container-promotion {
    width: 100%;
    display:block;
    height: 25vh;
    position: relative;
    @include media('<lg') {
        height: 25vh;
    }
    @include media('<md') {
        height: 20vh;
    }
    @include media('<sm') {
        height: 17vh;
    }
}
