#homepage-1 {
    padding: 70px 0;
    background-color: #eeeeee;

    .ps-home-banner {
        padding-top: 30px;
        margin-bottom: 30px;
        .ps-collection {
            display: block;
            margin-bottom: 30px;

            &:last-child {
                margin-bottom: 0;
            }
        }
        .slick-slider {
            height: 100%;
            .slick-list {
                height: 100%;
                > .slick-track {
                    height: 100%;
                    * {
                        height: 100%;
                    }
                }
            }

            .ps-banner-item--default {
                display: block;
                height: 50vh;
            }
        }

        .ps-container {
            display: flex;
            height: 100%;
            > * {
                flex: 1;
                flex-basis: 100%;
            }

            .ps-section__left {
                padding-right: 100px;
                max-width: 100%;
            }

        }

        @media screen and (max-width: 1200px) {
            .ps-section__left {
                height: 300px;
            }
        }

        @include media("<xs") {
            .ps-section__left {
                height: 150px;
            }
        }
    }

    .ps-deal-of-day {
        margin-bottom: 30px;

        .ps-product {
            .ps-product__price {
                color: #690;
                font-size: 18px;
                margin-right: 5px;

                del {
                    margin-left: 10px;
                    font-size: 14px;
                }

                small {
                    margin-left: 10px;
                    color: red;
                }
            }
        }

        .ps-section__header,
        .ps-section__content {
            background-color: #fff;
        }

        .ps-section__header {
            margin-bottom: 0;
            padding: 20px 20px 10px;
        }

        .ps-section__content {
            padding: 60px 30px 30px;
        }
    }

    .ps-home-promotions {
        margin: 0 0 30px;
    }

    .ps-block--product-box {
        margin-bottom: 30px;
    }

    .ps-carousel {
        .slick-list {
            padding-right: 3px !important;
        }
    }
}

.orders-top{
    @include media('<md') {
        margin-top: 40px;
        margin-bottom: 40px;
    }
}

.user-top{
    @include media('<md') {
        margin-top: 40px;
        margin-bottom: 40px;
    }
}

.image-container-promotion {
    width: 100%;
    display:block;
    height: 20vh;
    position: relative;
    @include media('<lg') {
        height: 20vh;
    }
    @include media('<md') {
        height: 15vh;
    }
    @include media('<sm') {
        height: 10vh;
    }
}
